.stepper_buttons_container {
  /*bottom: 10%;
  position: absolute;*/

}


mat-progress-bar{
  height: 5px;

}

.rowStepper{
  height: 290px;
}
mat-divider{
  height: 100px;
  width: 4px;
}

/*::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}*/



