.brand , .brand:hover , .brand:active , .brand:after  {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  /* identical to box height */

  color: #0E99DE;

}

.navbar-light .navbar-brand:focus{
  color: #0E99DE;
}
.logout{
  color: crimson !important;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}


.doctor {
  color: mediumseagreen !important;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}
.mobileApp{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}
