/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";




.drop_zone_class{
  height: 70%;
  border: #0E99DE dashed 2px ;
  border-radius: 15px;
  align-items: center;
  align-content: center;


  width: 100%;
  position: relative;
}

/*.ngx-file-drop__drop-zone-label{
  font-family: Raleway;
  text-align: center;

  font-weight: bold;
  //color: rgba(0, 37, 55, 0.64);
  color: seagreen;


  position: absolute;
  top: 50%;




}*/
.drop_content_class{
  font-family: Raleway;
  text-align: center;
  align-content: center;
  font-weight: bold;
  //color: rgba(0, 37, 55, 0.64);
  color: #0E99DE;

  margin: 0;
  position: absolute;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translate(50%,-50%);




}
.mat-horizontal-stepper-content{

}



.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #0E99DE;
  text-align: center;
}
.mat-form-field.mat-focused .mat-form-field-label  {
  color: #0E99DE;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #0E99DE;
}


.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #0E99DE ;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
   background-color: #0E99DE;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #0E99DE;
}







/*.ng-tns-c3-0 .ng-star-inserted {
  color: blue;
}
.mat-form-field-label  .mat-empty .mat-form-field-empty{
  color: red;
}*/
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color : #0E99DE ;
}
.mat-radio-button.mat-primary .mat-radio-inner-circle, .mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: #0E99DE;
}






