<mat-horizontal-stepper labelPosition="bottom" #stepper >
  <mat-step   [completed]="IsImageUploaded()" [editable]="false">

      <ng-template matStepLabel>Upload Ecg File</ng-template>


            <div class="row pb-0 rowStepper" >
              <div class="col-4">
                <button class="btn btn-light mt-5" onclick="document.getElementById('getFile').click()" >Upload</button>
                <input type="file" name="image" (change)="fileProgress($event)" id="getFile" style="display: none" />
              </div>
              <div class="col-1">
                <mat-divider vertical ></mat-divider>
              </div>
              <div class="col-7">
                <ngx-file-drop dropZoneLabel="Drop ur file here" (onFileDrop)="dropped($event)"
                               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" dropZoneClassName="drop_zone_class" contentClassName="drop_content_class">

                </ngx-file-drop>
                <div>
                  <mat-form-field class="mt-4">
                  <input matInput  type="number" placeholder="Enter the Sampling Rate : "   [(ngModel)]='EcgsampleRate' autocomplete="off" required/>
                  </mat-form-field>
                </div>
              </div>
            </div>



      <div class="stepper_buttons_container  float-right  mb-0  row p-0">
        <p *ngIf="IsImageUploaded()" class="mx-3 my-auto">File Selected </p>
        <button mat-button (click)="onNoClick()" class="btn bg-white mx-2 shadow-sm ">Cancel</button>
        <button mat-button matStepperNext   class="btn btn-primary " [disabled]="!IsImageUploaded() || EcgsampleRate==null" (click)="onSubmit()" >Next</button>
      </div>

  </mat-step>
  <mat-step [completed]="Reponse_Result" [editable]="false"  >

      <ng-template matStepLabel >Uploading</ng-template>
      <div class="row pb-0 rowStepper" >
        <mat-progress-bar  mode="{{Reponse_Result ? 'determinate' : 'indeterminate'}}" style="height: 10px;width: 75%;margin: auto;"></mat-progress-bar>
        <!--mode="{{Reponse_Result ? 'determinate' : 'indeterminate'}}" -->
      </div>

      <div class="stepper_buttons_container float-right  mb-0">
        <button mat-button (click)="onNoClick()" class="btn btn-light mx-2">Cancel</button>
        <button mat-button matStepperNext class="btn btn-primary" [disabled]="!Reponse_Result">Next</button>
      </div>

  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>Results</ng-template>
    <div class="container rowStepper"  >

      <div class="row"  >
        <div class="col-sm-12  text-center"  style="font-size:0.8em"  >A : Atrial premature contraction , L : Left bundle branch block , N : Normal , P : Paced beat , R : Right bundle branch block , V : premature venticular contraction</div>

      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >A:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="A_Ratio"  ></mat-progress-bar></div>
      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >L:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="L_Ratio"  ></mat-progress-bar></div>
      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >N:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="N_Ratio"  ></mat-progress-bar></div>
      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >P:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="P_Ratio"  ></mat-progress-bar></div>
      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >R:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="R_Ratio"  ></mat-progress-bar></div>
      </div>

      <div class="row my-3">
        <div class="col-1 mx-0 px-0" >V:</div>
        <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="V_Ratio"  ></mat-progress-bar></div>
      </div>





    </div>
    <div class="stepper_buttons_container float-right align-self-baseline">

      <button mat-button (click)="onNoClick()" class="btn btn-light mx-2" *ngIf="auth.isLoggedIn()" >Cancel</button>
      <button mat-button matStepperNext class="btn btn-primary" *ngIf="auth.isLoggedIn()">Next</button>


      <button mat-button matStepperNext class="btn bg-white mx-2 shadow-sm" *ngIf="!auth.isLoggedIn()" (click)="onNoClick()">Close</button>


    </div>
  </mat-step>
  <mat-step  *ngIf="auth.isLoggedIn()" >
    <ng-template matStepLabel>Correct</ng-template>
    <div class="container rowStepper"  >

      <div class="row"  >
        <div class="col-sm-12  text-center"  style="font-size:0.8em"  >A : Atrial premature contraction , L : Left bundle branch block , N : Normal , P : Paced beat , R : Right bundle branch block , V : premature venticular contraction
        </div>


      </div>
      <mat-radio-group [(ngModel)]="SelectedCat" >
        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >A:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="A_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="1" ></mat-radio-button></div>
        </div>
        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >L:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="L_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="2"></mat-radio-button></div>
        </div>

        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >N:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="N_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="3"></mat-radio-button></div>
        </div>

        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >P:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="P_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="4"></mat-radio-button></div>
        </div>

        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >R:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="R_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="5"></mat-radio-button></div>
        </div>

        <div class="row my-3">
          <div class="col-1 mx-0 px-0" >V:</div>
          <div class="col-10 mx-0 px-0"><mat-progress-bar mode="determinate"  class="my-2" [value]="V_Ratio"  ></mat-progress-bar></div>
          <div class="col-1 mx-0 px-0 text-right"> <mat-radio-button value="6"></mat-radio-button></div>
        </div>

      </mat-radio-group>

    </div>
    <div class="stepper_buttons_container float-right align-self-baseline">
      <button mat-button (click)="onNoClick()" class="btn bg-white mx-2 shadow-sm" >Close</button>
      <button mat-button (click)="Correct()" class="btn btn-primary" >Validate</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
