.brand {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  /* identical to box height */

  color: #0E99DE;

}

.doctor {
  color: mediumseagreen !important;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}
.mobileApp{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
}

.first_p {


  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vw;
  line-height: 32px;
  text-align: center;
  text-align: center;

  color: #000000;

}
.boutton {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 1.6vw;

}


.title1{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;

  color: #002537;
}
.title2{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  /* identical to box height */


  color: #002537;
}

.second_p{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 36px;
}
